{% extends "games/base.html" %}

{% block content %}

<section class="game-detail glass fade-up">

    <div>

        <img
            src="{{ game.image }}"
            alt="{{ game.name }}"
            class="game-banner"
        >

    </div>

    <div>

        <h1 class="game-name">
            {{ game.name }}
        </h1>

        <div class="price">
            {{ game.price }}
        </div>

        <div class="game-description">

            {{ game.description|default:"Описание отсутствует." }}

        </div>

        <a
            href="{% url 'achievements' game.steam_id %}"
            class="btn"
        >
            View Achievements
        </a>

        <a href="{% url 'ai_analysis' game.steam_id %}" class="btn btn-large">
    🧠 AI Analysis
</a>

    </div>

</section>


{% endblock %}